@import 'variables.scss';

.container {
  padding: 50px;
  background: url(/talent-calc-bg.png);
  margin-top: 50px;
}

.calculator {
  text-align: center;

  h1 {
    background-color: $darkest-grey;
    padding: 10px;
  }
}

.talent-group-container,
.talent-counter-container {
  display: inline-block;
}

.talent-group-container {
  margin-top: 50px;
}

.talent-counter-container {
  margin-left: 100px;
  position: relative;
  bottom: 50px;
}
