.talent {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 1px;
  z-index: 5;
  &:hover {
    cursor: pointer;
  }
}

.progress-container {
  bottom: 17px;
  display: inline-block;
  position: relative;
  left: 1px;
}
